@import '../../../../../node_modules/purecss/build/base.css';

* {
    box-sizing: border-box;
}

#layout {
    left: 0;
    position: relative;
}

.header {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    max-width: 768px;
    margin: 0 auto;
    padding: 1em;
    text-align: center;
    border-bottom: 1px solid #eee;
    background: #fff;
    letter-spacing: 0.05em;
}

.content {
    padding: 0 2em;
    max-width: 800px;
    margin: 0 auto 50px;
    line-height: 1.6em;
}

.content-subhead {
    margin: 50px 0 20px 0;
    font-weight: 300;
    color: #444;
}
